.tituloPrimeiro{
    background-color: rgb(34, 30, 30);
    padding:30px 0;
    font-style: oblique;
}
#logo{
    width: 400px;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 220px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 200px;
  
}
nav a{
    text-transform: uppercase;
    color: rgb(250, 242, 242);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    position: absolute;
}
.listaProdutos{
    width: 940px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;

}
.listaProdutos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-top-width: 10px;
    border-radius: 10px;

    
}

.listaProdutos li:hover{
    border-color:#C78 ;
    border:solid;
}
.listaProdutos li:active{
    border-color: lightcoral;
}
nav a:hover {
    color:#C78;
    text-decoration: underline;
}
.listaProdutos li:hover h2{
    font-size: 30px;
}
.listaProdutos li:hover .preco{
    font-size: 25px;
}
.tituloOpcao{
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
}
.frase{
    font-size: 15px;
    
}
.preco{
    font-weight: bold;
    font-size: 20px;

}
.imgProduto{
    width: 200px;

}
footer{
    text-align: center;
    background:url("imagens/logo.png");
    padding:40px 0;
    opacity: 0.7;
    background-repeat: round;

}

.copyright{
    color:white;
    font-size: 13px;
    margin: 20px 0 0;
}
@media screen and (max-width:480px){
    .caixa, .tituloPrimeiro{
        width: auto;
        
    }
    h1{
        text-align: center;
        
    }

    nav{
        position: static;
    }
}