.listaProdutos{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.listaProdutos ul {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}
.listaProdutos li{
    margin: 20px;
    width: 250px;
    vertical-align: top;
    box-sizing: border-box;
    border: 2px solid black;
    border-top-width: 10px;
    border-radius: 10px;

    
}

.listaProdutos li:hover{
    border-color:#C78 ;
    border:solid;
}
.listaProdutos li:active{
    border-color: lightcoral;
}

.listaProdutos li:hover h2{
    font-size: 30px;
}
.listaProdutos li:hover .preco{
    font-size: 25px;
}
.tituloOpcao{
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
}
.frase{
    font-size: 15px;
    
}
.preco{
    font-weight: bold;
    font-size: 20px;

}
.imgProduto{
    width: 100%;
    padding: 20px;
}

.copyright{
    color:white;
    font-size: 13px;
    margin: 20px 0 0;
}