main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.TituloPrincipal {
  background-color: white;
  border-style: outset;
  font-style: italic;
}

.TituloSobreUm, .TituloSobre {
  text-align: center;
  background-color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  margin: 40px 0 0 0;
  padding: 10px;
}

.texto {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  margin: 20px 0 0 0;
}
#missão {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  color: rgb(37, 20, 20);
  margin: 0mm;
}
.tituloPrimeiro{
  background-color: rgb(34, 30, 30);
  padding:30px 0;
  font-style: oblique;
}
#logo{
  width: 400px;
}

nav {
  flex: 1 ;
} 
nav ul{
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: end;
}
nav li{
  
  flex: 1;
  text-align: center;
}
nav a{
  text-transform: uppercase;
  color: rgb(250, 242, 242);
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
.caixa {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.caixa h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner-group {
  display: flex;
  width: 100%;
}

.banner {
  /* width: 100%; */
  width: 19.5%;
  border-width: 0;
  margin: 0mm;
  flex: 1;
}
.banner:hover {
  border: outset rgb(196, 187, 195);
}

.conteudo-beneficios {
  background-color: white;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  margin: 20px 10px 20px 10px;
}

.itens {
  background-color: white;
  padding: 10px 0;
  line-height: 1.5;
}
.itens:before {
  content: "✦";
}
.itens:nth-last-child(2) {
  font-weight: bold;
}
#tituloinf {
  text-align: center;
  background-color: white;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0 10px 0;
  clear: left;
}

nav a:hover {
  color: rosybrown;
}

nav a:active {
  color: yellow;
}

.doces {
  width: calc(40% - (150px * 2));
  position: absolute;
  margin: 50px 0 0 850px;
  opacity: 0.6;
  transition: 1s opacity;
  box-shadow: 10px 10px 10px black, 10px 10px 10px lightpink;
}
.doces:hover {
  opacity: 1;
}
body {
  
  margin: 0 10px 0 0;
}
.mapa {
  text-align: center;
  background: linear-gradient(150deg, white, pink, rgb(34, 30, 30));
}
.mapa p {
  text-align: center;
  margin: 20px;
}
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.video .TituloSobre {
  flex: 1;
 }


@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

footer{
  display: flex;
  flex-direction: column;
  background:url("imagens/logo.png");
  opacity: 0.7;
  background-size: contain;
  background-repeat: round;
  justify-content: space-around;
  align-items: center;
  text-align:center
}

footer section {
  padding: 20px;
  padding-bottom: 0;
}

footer div {
  padding: 20px;
  padding-top: 0px;
}