.TituloPrincipal {
  background-color: white;
  border-style: outset;
  font-style: italic;
}

.TituloSobreUm, .TituloSobre {
  text-align: center;
  background-color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  margin: 40px 0 0 0;
}

.texto {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  margin: 20px 0 0 0;
}
#missão {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  color: rgb(37, 20, 20);
  margin: 0mm;
}
.banner {
  /* width: 100%; */
  width: 19.5%;
  border-width: 0;
  margin: 0mm;
}
.banner:hover {
  border: outset rgb(196, 187, 195);
}

.conteudo-beneficios {
  background-color: white;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  margin: 20px 10px 20px 10px;
}

.itens {
  background-color: white;
  padding: 10px 0;
  line-height: 1.5;
}
.itens:before {
  content: "✦";
}
.itens:nth-last-child(2) {
  font-weight: bold;
}
#tituloinf {
  text-align: center;
  background-color: white;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0 10px 0;
  clear: left;
}
nav {
  position: center;
}
nav li {
  display: inline;
  margin: 0 0 0 100px;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}
nav a:hover {
  font-size: 20px;
  color: rosybrown;
}

nav a:active {
  color: yellow;
}

.doces {
  width: calc(40% - (150px * 2));
  position: absolute;
  margin: 50px 0 0 850px;
  opacity: 0.6;
  transition: 1s opacity;
  box-shadow: 10px 10px 10px black, 10px 10px 10px lightpink;
}
.doces:hover {
  opacity: 1;
}
body {
  font-family: "Courgette", cursive;
  margin: 0 10px 0 0;
}
.mapa {
  text-align: center;
  background: linear-gradient(150deg, white, pink, rgb(34, 30, 30));
}
.mapa p {
  text-align: center;
  margin: 20px;
}
.video {
  text-align: center;
  margin: 100px 0 100px 100px;
}
  

@media screen and (max-width: 480px) {
  .banner{
    display: none;
    
  }
  .TituloSobreUm, .texto, #missão, #tituloinf, .lista-beneficios, .mapa, .video {
    text-align: center;
    width: 800px;
    margin: 50px;
    font-size: 1.2rem;
  }

  nav {
    position: static;
  }

  footer, header{
      width: 800px;
  }
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
